
<html>

    <head>
        <title><%=title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Learn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <!-- Custom Theme files -->
        <link href="/css/style.css" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="./css/jquery.countdown.css" />
        
        <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
        <!----font-Awesome----->
        <link href="/css/font-awesome.css" rel="stylesheet"> 
        <!----font-Awesome----->
        <script>
        $(document).ready(function(){
            $(".dropdown").hover(            
                function() {
                    $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                    $(this).toggleClass('open');        
                },
                function() {
                    $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                    $(this).toggleClass('open');       
                }
            );
        });
        </script>
        

<body>
    
        <%if(jsonerror.length>0){%>
            <%for(let e of jsonerror){%>

    <center><p  style="font-size: xx-large; color:red;"><%=e.msg%> </p></center>
                <%}%>

            <%}%>

	<div class="courses_box1">
	   <div class="container">
	   	  <form action="<%if(editable){%>/update<%}else{%>/registerform<%}%>" method="POST">
                <p class="lead">Register New Account</p>
                <div class="form-group">
                    <input type="text" placeholder="Name *" name="name" value="<%if(editable){%><%=data.name%><%}%>">
                </div>
                
                <div class="form-group">
                    <input type="phone" placeholder="phone *" name="phone" value="<%if(editable){%><%=data.phone%><%}%>">
                </div>
                
                <div class="form-group">
                    <input type="text"  placeholder="Email *" name="email" value="<%if(editable){%><%=data.email%><%}%>">
				</div>
				<div class="form-group">
                    <input type="password"  placeholder="Password *" name="password" value="<%if(editable){%><%=data.password%><%}%>">
                </div>
				<input type="hidden" name="id" value="<%if(editable){%><%=data._id%><%}%>">
                <div class="form-group">
                        <input type="hidden" name="_csrf" value="<%=csrftoken%>">
                    <input type="submit"  name="submit"  value="Register">
                </div>
                <p>Already have an account? <a href="login.html" >Sign In</a></p>
            </form>
	   </div>
	</div>
</center>
</body>
</head>
</html>	