
<html>

    <head>
        <style>
		
	
            body {font-family: Arial, Helvetica, sans-serif; background-color: rgba(15, 154, 219, 0.493);}
            * {box-sizing: border-box}
            
            /* Full-width input fields */
            input[type=text], input[type=password] {
              width: 100%;
              padding: 15px;
              margin: 5px 0 22px 0;
              display: inline-block;
              border: none;
              border-radius: 25px;
              background: #f1f1f1;
            }
            
            input[type=text]:focus, input[type=password]:focus {
              background-color: #ddd;
              outline: none;
            }
            
            hr {
              border: 1px solid #f1f1f1;
              margin-bottom: 25px;
            }
            
            /* Set a style for all buttons */
            button {
              background-color: #4CAF50;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              cursor: pointer;
              width: 100%;
              opacity: 0.9;
            }
            div {
                display: block;
            }
            
            button:hover {
              opacity:1;
            }
            
            /* Extra styles for the cancel button */
            .cancelbtn {
              padding: 14px 20px;
              background-color: #f44336;
            }
            
            /* Float cancel and signup buttons and add an equal width */
            .cancelbtn, .signupbtn {
              float: left;
              width: 50%;
            }
            
            /* Add padding to container elements */
            .container {
             
              margin-left: 350px;
                margin-right: 350px;
                margin-top: 150px;
                margin-bottom: 350px;
              
            }
            
            /* Clear floats */
            .clearfix::after {
              content: "";
              clear: both;
              display: block;
            }
            
            /* Change styles for cancel button and signup button on extra small screens */
            @media screen and (max-width: 300px) {
              .cancelbtn, .signupbtn {
                 width: 100%;
              }
            }
            
            h3.title {
                font-size: 46px;
                position: relative;
            }
            .text-dark {
                color: #007bff !important;
            }
            .font-weight-light {
                font-weight: 300 !important;
            }
            .text-capitalize {
                text-transform: capitalize !important;
            }
            .text-center {
                text-align: center !important;
            }
            </style>
        

<body>
    
        <%if(jsonerror.length>0){%>
            <%for(let e of jsonerror){%>

    <center><p  style="font-size: xx-large; color:red;"><%=e.msg%> </p></center>
                <%}%>

            <%}%>

	<div class="courses_box1">
	   <div class="container">
	   	  <form action="<%if(editable){%>/update<%}else{%>/registerform<%}%>" method="POST">
                <p class="lead">Register New Account</p>
                <div class="form-group">
                    <input type="text" placeholder="Name *" name="name" value="<%if(editable){%><%=data.name%><%}%>">
                </div>
                
                <div class="form-group">
                    <input type="text"  placeholder="Phone *" name="phone" value="<%if(editable){%><%=data.phone%><%}%>">
				</div>
                
                <div class="form-group">
                    <input type="text"  placeholder="Email *" name="email" value="<%if(editable){%><%=data.email%><%}%>">
				</div>
				<div class="form-group">
                    <input type="password"  placeholder="Password *" name="password" value="<%if(editable){%><%=data.password%><%}%>">
                </div>
				<input type="hidden" name="id" value="<%if(editable){%><%=data._id%><%}%>">
                <div class="form-group">
                        <input type="hidden" name="_csrf" value="<%=csrftoken%>">
                    <input type="submit"  name="submit"  value="Register">
                </div>
                <p>Already have an account? <a href='/login' >Sign In</a></p>
            </form>
	   </div>
	</div>
</center>
</body>
</head>
</html>	